.button{
    -fx-font-style: "Century Gothic";
    -fx-background-color: transparent;
    -fx-font-size: 20px;
    -fx-text-fill: white;
}
.button:hover{

    -fx-font-size: 21,5px;
    -fx-font-weight: bold;
}
.createButton{
    -fx-background-color: #661fbc;
    -fx-text-fill: white;
    -fx-font-style: "Century Gothic";
    -fx-font-size: 20px;
}

.createButton:hover{
    -fx-border-color: #661fbc;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-background-color: white;
    -fx-text-fill: #661fbc;
    -fx-font-style: "Century Gothic";
    -fx-font-size: 20px;
}
#userModeButton:hover, #exitFromProfileButton:hover{
    -fx-text-fill: #661fbc;
}

.column-header{
    -fx-text-fill: #661fbc;
    -fx-font-weight: bold;
    -fx-cell-size: 18;
    -fx-background-color: white;
}

.table-view .column-header .label{
    -fx-text-fill: #661fbc;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}
.table-row-cell:selected{
    -fx-background-color:  #9281D3;
}

.edit-button {
    -fx-background-color: #661fbc;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-max-width: 100px;
    -fx-background-radius: 3;
    -fx-padding: 5 10;
    -fx-cursor: hand;
}

.edit-button:hover {
    -fx-background-color: white;
    -fx-text-fill: #661fbc;
    -fx-font-size: 12;
    -fx-border-color: #661fbc;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

#exitButton{
    -fx-fill: white;
}

#exitButton:hover{
    -fx-fill: red;
    -fx-font-size: 20px;
}